body {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    text-align: center;
}

#error {
    color: red;
}

#error-code {
    color: whitesmoke;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.24);
}