/*/
  * Name: Exo 2
  * Purpose: Titles
  * Author: Natanael Gama
  * Source: Google Fonts
/*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

/*/
  * Name: Noto Sans
  * Purpose: Paragraphs or smaller text
  * Author: Google
  * Source: Google Fonts
/*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');