.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
}

.nav-favicon {
    left: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
}

.nav-text-zeroedmc {
    top: 15px;
    left: 80px;
}