body {
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
}

main {
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(60, 60, 60);
    border-radius: 10px;
    background-color: whitesmoke;
}

.inner-main {
    margin-top: 115px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title {
    font-family: 'Exo 2';
}