.navbar {
    background-color: white;
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
}

.nav-img {
    top: 30px;
}

a {
    text-decoration: none;
    color: rgb(63, 235, 235);
}

a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: rgb(62, 143, 143);
}