.navbar {
    background-color: white;
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
}