.navbar {
    background-color: white;
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
}

.nav-img {
    top: 30px;
}